{% extends 'base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
ArbiBot
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to ArbiBot</h1>

      <p class="lead">This app is used to perform automated arbitrage on Binance</p>


      <a href="{{ url_for( 'arbys' ) }}">Tap Here</a>

    </div>
  </div>
</div>

{% endblock %}